<div class="container">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-default" role="navigation">
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li><a>Campus Recruitment App</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a routerLink="/signin">Sign In</a></li>
                        <li>
                            <a routerLink="/signup">Sign Up</a>

                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>