<app-nav></app-nav>
<div class="flex-container">
  <md-card class="row" style="width: 23%">
<md-card-title style="text-align: center">   <label>Select <select (change)="onChange($event.target.value)">
  <option value="student">Student</option>
  <option value="company">Company</option>
</select></label></md-card-title>
<form [formGroup]="studentForm" (ngSubmit)="studentFormSubmit(studentForm.value)" *ngIf="student">

  <table style="width: 100%" cellspacing="0">
<tr>
  <td>
    <md-input-container style="width: 100%">
<input md-input placeholder="Email" type="email" [formControl]="studentForm.controls['email']">

</md-input-container>
</td>
</tr>
<small *ngIf="studentForm.controls['email'].hasError('required') && studentForm.controls['email'].touched" class="alert alert-danger">Required</small>
<br>
<tr>
  <td>
    <md-input-container style="width: 100%">
<input md-input placeholder="First name" type="firstName" [formControl]="studentForm.controls['firstName']">

</md-input-container>
</td>
</tr>
<small *ngIf="studentForm.controls['firstName'].hasError('required') && studentForm.controls['firstName'].touched" class="alert alert-danger">Required</small>
<br>
<tr>
  <td>
    <md-input-container style="width: 100%">
<input md-input placeholder="Last name" type="lastName" [formControl]="studentForm.controls['lastName']">

</md-input-container>
</td>
</tr>
<small *ngIf="studentForm.controls['lastName'].hasError('required') && studentForm.controls['lastName'].touched" class="alert alert-danger">Required</small>
<br>
<!--<tr>
  <td>
    <md-input-container style="width: 100%">
<input md-input placeholder="Email" type="email" [formControl]="myForms.controls['email']">

</md-input-container>
</td>
</tr>
<small *ngIf="myForms.controls['email'].hasError('required') && myForms.controls['email'].touched" class="alert alert-danger">Email address is Required</small>
<br>-->
<tr>
  <td>
    <md-input-container style="width: 100%">
<input md-input placeholder="Password" type="password" [formControl]="studentForm.controls['password']">
</md-input-container>
</td>
</tr>
<div>
  <small *ngIf="studentForm.controls['password'].hasError('required') && studentForm.controls['password'].touched" class="alert alert-danger">Required</small>
</div>
</table>
<md-card-actions style="text-align: center">
<button md-button type="submit">Signup</button>
</md-card-actions>
</form>



<form *ngIf="company" [formGroup]="companyForm" (ngSubmit)="companyFormSubmit(companyForm.value)">

  <table style="width: 100%" cellspacing="0">
<tr>
  <td>
    <md-input-container style="width: 100%">
<input md-input placeholder="Company email" type="email" [formControl]="companyForm.controls['cemail']">

</md-input-container>
</td>
</tr>
<small *ngIf="companyForm.controls['cemail'].hasError('required') && companyForm.controls['cemail'].touched" class="alert alert-danger">Required</small>
<br>
<tr>
  <td>
    <md-input-container style="width: 100%">
<input md-input placeholder="Company name" type="firstName" [formControl]="companyForm.controls['cfirstName']">

</md-input-container>
</td>
</tr>
<small *ngIf="companyForm.controls['cfirstName'].hasError('required') && companyForm.controls['cfirstName'].touched" class="alert alert-danger">Required</small>
<br>
<tr>
  <td>
    <md-input-container style="width: 100%">
<input md-input placeholder="Company password" type="password" [formControl]="companyForm.controls['cpassword']">
</md-input-container>
</td>
</tr>
<div>
  <small *ngIf="companyForm.controls['cpassword'].hasError('required') && companyForm.controls['cpassword'].touched" class="alert alert-danger">Required</small>
</div>
</table>
<md-card-actions style="text-align: center">
<button md-button type="submit">Signup</button>
</md-card-actions>
</form>
</md-card>
</div>
