<app-dashboard-nav></app-dashboard-nav>
<h1 style="text-align: center">Jobs</h1>
<ul>
  <li *ngFor="let job of jobs | async; let i = index">
    <span><b>Comapny name:</b> {{job.value.companyName}}</span>
    <span> <a type="button" class="btn btn-info" data-toggle="collapse" [href]="'#' + i">see more</a></span>
    <div class="container">
      <div [id]="i" class="collapse index">
        <span class="list-group-item list-group-item-info">Company Name: {{job.value.companyName}}</span>
        <span class="list-group-item list-group-item-info">Website {{job.value.website}}</span>
        <span class="list-group-item list-group-item-info">Description {{job.value.description}}</span>
      </div>
    </div>
  </li>
</ul>